body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* Header and Hero rules */


.header,
.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 300px;
    background-color: #1f2937;
    color: #f9faf8;
}

.hero-content {
    padding: 50px 300px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    display: flex;
    gap: 20px;
    align-items: center;
}


#hero-image {
    height: auto;
    width: 300px;
}

.hero-main {
    font-size: 48px;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
    padding: 20px 0;
}

button {
    background-color: #3882f6;
    padding: 5px 30px;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: bold;
    border: none;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
}

 /* Main part rules */

.content1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 200px;
}

.info-headline {
    font-size: 36px;
    font-weight: bold;
}

.images {
    display: flex;
    gap: 50px;
    padding-top: 50px;
    text-align: center;
    flex-wrap: wrap;
}

.content-img,
.item {
    width: 150px;
}

/* Quote rules */

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-items: center;
    padding: 100px 300px;
}

.quote-item {
    color: #1f2937;
}

#quote {
    font-size: 36px;
    font-style: italic;
    margin: 0;
}

#quote-source {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    text-align: right;
}

/* Call to action rules */

.cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    margin: 100px;
    padding: 50px;
}

.cta button {
    border: 1px solid white;
    margin: 30px 1px;
}


/* General rules */


ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
a {
    text-decoration: none;
    color: #f9faf8;
}

h2 {
    font-size: 24px;
    color: #f9faf8;
    margin: 0;
}

h3 {
    font-size: 18px;
    color: #f9faf8;
    font-weight: normal;
    margin: 0;
}